<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
      <extension
         point="gama.event_layer">
      <implementation
            class="gama.core.outputs.layers.MouseEventLayerDelegate">
      </implementation>
   </extension>
      <extension
         point="gama.display">
      <implementation
            class="gama.core.outputs.ImageDisplaySurface"
            keyword="image">
      </implementation>
   </extension>
</plugin>
 