<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         point="gama.create">
      <implementation
            class="ummisco.gama.create.CreateFromCSVDelegate"
            description="Create agents from CSV files">
      </implementation>
      <implementation
            class="ummisco.gama.create.CreateFromGeometriesDelegate"
            description="Create agents from list / files of geometries">
      </implementation>
      <implementation
            class="ummisco.gama.create.CreateFromGridFileDelegate"
            description="Create agents from grid files">
      </implementation>
   </extension>

</plugin>
